* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #dadada;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
